* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: rgb(17, 18, 19);
	color: white;
}

.wrapper {
	width: 1600px;
	height: 900px;
}



.website-wrapper {
	color: #fff;
}

a.active {
	color: red
}

nav {
	display: block;
	color: white;
	border-bottom: 1px solid white;
}

nav a {
	color: white
}

.example2 #INPUT {
	color: white;
	background-color: green;
	width: 400px;
	padding: 1em;
	display: inline;
}

.example2 #OUTPUT {
	color: white;
	background-color: blue;
	padding: 1em;
	width: 400px;
	display: inline;
}

.container {

	display: flex;

	gap: 10px;
	/* optional spacing */

}